@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url(fontes/OpenRing-Regular.ttf) ;
}
@font-face {
    font-family: sub;
    src: url(fontes/MetrimLetter-Regular.otf);

}
@font-face {
    font-family: sab;
    src: url(fontes/Maximum\ Voltage.otf);
}

:root{
    --cor1: #026E81;
    --cor2: #1784b3;
    --cor3: #00ABBD;
    --cor4: #A1C7E0;
    --cor5: #FF9933;

}

body{
background-color: var(--cor4);
}

*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
    min-width: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family:'sab';
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
}
nav{
    background-color: var(--cor1);
    text-align: center;
}

nav > a{
    text-decoration: none;
    margin: 5px;
    font-size: 17px;
    color: white;
    background-color: var(--cor1);
    border-radius: 10px;
    
}

nav a:hover {
    background-color: var(--cor3);
    padding: 7px;
    transition-duration: 0.5s;
    
}
main {
    background-color: rgb(218, 215, 215);
    padding: 32px;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.329);
}


button{
    font-size: 16px;
    margin: 10px;
}

section h2 {
    font-size: 19px;
    font-weight: 600;
}

footer{
    background-color: var(--cor2);
    padding: 10px;
    margin: 5px;
    font-family: 'titulo';
    font-weight: bold;
    
}