@charset "UTF8";

@font-face {
    font-family: titulo;
    src: url(fontes/OpenRing-Regular.ttf) ;
}
@font-face {
    font-family: sub;
    src: url(fontes/MetrimLetter-Regular.otf);

}
@font-face {
    font-family: sab;
    src: url(fontes/Maximum\ Voltage.otf);
}

:root{
    --cor1: #026E81;
    --cor2: #1784b3;
    --cor3: #00ABBD;
    --cor4: #A1C7E0;
    --cor5: #FF9933;

}

body{
    background-color: #A1C7E0;

}

*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
    padding: 17px;
    text-align: center;
    font-family: 'sab';
}
nav{
     background-color: var(--cor2);
     text-align: center;
}
nav > a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: var(--cor2);
    border-radius: 5px;
    
}

nav{
    background-color: var(--cor1);
    text-align: center;
}

nav > a{
    text-decoration: none;
    margin: 18px;
    font-size: 17px;
    color: white;
    background-color: var(--cor1);
    border-radius: 10px;
    
}

nav a:hover {
    background-color: var(--cor3);
    padding: 7px;
    transition-duration: 0.5s;
    
}

main{
    background-color: #facfa4ab;
    min-width: 200px;
    max-width:900px;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.411);
}
ul{
    padding: 15px;
    margin: 10px;
}
img{
   padding: 10px;
   max-height: 140px; 
}

mark{
    background-color: #00aabd80;
}